<div class="d-flex flex-column h-100">
  
  <div class="d-flex flex-column container main-content flex-grow-1">
    <ul class="nav nav-fill nav-tabs">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" routerLink="basic">Basic</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" routerLink="select">Select</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" routerLink="expandable">Expandable</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" routerLink="expandable-header-less">No Headers</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" routerLink="inputs">Inputs</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLinkActive="active" routerLink="server-side">Server Side</a>
      </li>
    </ul>
    <div class="nav-content container flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>